<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Turma</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h1>
        <center>
            CADASTRO DE TURMA   
        </center>
    </h1>
    <div class="container center mt-5">
        <form method="post" action="/turma_form" th:object="${turma}">
                <label>ID</label>
                <div class="input-group">
                    <input class='form-control' name="id" type="number" placeholder="Número inteiro. Ex.: 123" maxLength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                </div>                
                <label>NOME</label>
                <div class="input-group">
                    <input class='form-control' name="nome" type="text" placeholder="Ex.: Turma I" maxLength="255" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
                </div>            
                <label>PROFESSOR RESPONSÁVEL</label>
                <input class='form-control' name="academic" type="text" placeholder="Nome completo" required/>
                <label>ALUNOS</label>
                <div class="input-group">
                    <input class='form-control' name="list" type="text" placeholder="Ex.: Aluno; aluno; ..." required/>
                </div>
                <label>HORÁRIO</label>
                <div class="input-group">
                    <input class='form-control' name="code" type="text" placeholder="Ex.: dia/n:nn-n:nn; ..." required/>
                </div>
                <label>EXISTÊNCIA DE MONITOR(ES)</label>
                <div type="input-group">
                    <input type="radio" name="bool" value=true required> Existe(m) </label>
                    <input type="radio" name="bool" value=false required> Não existe(m) </label>
                </div>
                <button class="btn btn-success mt-3 ms-auto">Enviar</button>
        </form>
        <a href="/">
            <button class="btn btn-primary mt-3">
                Voltar
            </button>
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>