<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informações do Professor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="m-4 fs-5 text-center">
            <h3 class="mt-5">Informações do Professor</h3>
            <div th:if='${prof.getBool().equals("None")}'>
                <div class="mb-4 bg-dark text-white my-4 p-4 rounded" th:switch="${prof.getAcademicalInfo()}">
                    <b>Status:</b> <label style="color: #dc3545" th:case="Afastado">Professor Afastado</label>
                    <label style="color: #3395e0" th:case="Orientador">Professor Orientador</label>
                </div>
            </div>
            <div th:unless='${prof.getBool().equals("None")}'>
                <div class="mb-4 bg-dark text-white my-4 p-4 rounded">
                    <b>Status:</b> <label style="color: #47cc52">Professor Ativo</label>
                </div>
            </div>
            <div class="bg-dark text-white my-4 p-4 rounded">
                <div th:if='${prof.getBool().equals("None")}'>
                     <div th:switch="${prof.getAcademicalInfo()}">
                        <div th:case='Afastado'>
                            <b>Lista de Disciplinas</b>
                        </div>
                        <div th:case='Orientador'>
                            <b>Lista de Orientandos</b>
                        </div>
                    </div>
                </div>
                <div th:unless='${prof.getBool().equals("None")}'>
                   <div>
                        <b>Lista de Disciplinas</b>
                    </div>
                </div>
                <div class="bg-dark text-white my-4 p-4 rounded"th:if='${prof.getAcademicalInfo().equals("Orientador")}'>
                    <div class="ms-3" th:each="aluno: ${prof.getList()}">
                        <b>Orientando: </b><label th:text="${aluno}"></label>
                    </div>
                </div>
                <div th:unless='${prof.getAcademicalInfo().equals("Orientador")}'>
                    <div class="ms-3" th:each="disciplina: ${prof.getList()}">
                        <b>Matéria: </b><label th:text="${disciplina}"></label>
                    </div>
                </div>
            </div>
            
            <div class="d-flex mt-3 justify-content-center">
                <a href="/">
                    <button class="btn btn-primary btn-lg">
                        Voltar
                    </button>
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>